# **Collection in Python**

- Python Collections There are four collection data types in the Python programming language:

    1. List is a collection which is ordered. Allows duplicate members and is mutable.

    2.  Tuple is a collection which is ordered. Allows duplicate members and is immutable.

    3.   Set is a collection which is unordered and unindexed. No duplicate members.Is immutable for its elements but as an object is mutable.

    4. Dictionary is a collection which is ordered and changeable. key value pair. No duplicate keys. mutable.

### **Comprehensions**

#### **What are Comprehensions**

In Python, comprehension refers to a concise(compact) and efficient way of creating new data structures like lists, dictionaries, and sets using existing iterables (such as lists, tuples, strings, generators etc.). Python provides several types of comprehensions:
1.	List comprehension: 
List comprehension provides a concise way to create lists. It consists of square brackets containing an expression followed by a for clause, then zero or more for or if clauses. For example:

    List comprehension to create a list of squares of numbers from 0 to 9 squares = [x\**2 for x in range(10)] 

2.	Dictionary comprehension: 
Dictionary comprehension provides a concise way to create dictionaries. It consists of curly braces containing a key-value expression followed by a for clause, then zero or more for or if clauses. For example:
    Dictionary comprehension to create a dictionary with numbers as keys and their squares as values squares_dict = 
    {x: x**2 for x in range(10)} 

3.	Set comprehension: 
Set comprehension provides a concise way to create sets. It consists of curly braces containing an expression followed by a for clause, then zero or more for or if clauses. For example:
 Set comprehension to create a set of unique first letters from a list of words first_letters = {word[0] for word in ['apple', 'banana', 'cherry']} 

    Comprehensions are not allowed on tuples in Python because tuples are immutable data structures.

    Comprehensions offer a more readable and often more efficient alternative to using traditional loops for constructing lists, dictionaries, or sets. They are widely used in Python programming for their simplicity and readability.

4) generator comprehensions:-

    input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
    
    output_gen = (var for var in input_list if var % 2 == 0)

    print("Output values using generator comprehensions:", end = ' ')

    for var in output_gen:
    
        print(var, end = ' ')

#### **Dictionary**

In [1]:
# E1
mydict={x:x**2 for x in range(1,10)}
print(mydict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [2]:
# E2
products = ["Soap","Perfume","Deo","Hair Oil"]
prices=[100,300,400,250]
mydict = {key:value for (key,value) in zip(products,prices)}
print(mydict)

{'Soap': 100, 'Perfume': 300, 'Deo': 400, 'Hair Oil': 250}

#### **List**

- List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc.

- A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each # element.

In [3]:
# list contains all even numbers between 4 to 20

mylist = [i for i in range(4,20) if i%2 == 0]

print(mylist)

[4, 6, 8, 10, 12, 14, 16, 18]

In [4]:
mylist=[num**2 for num in range(1,15,2)]
print(mylist)

[1, 9, 25, 49, 81, 121, 169]

#### **Set**

In [5]:
myset={x for x in range(1,11)}
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
mydictionary={"soap":100,"perfume":300,"deo":400,"hairoil":250,"babysoap":100}

myset1={x for x in mydictionary.values()}
print(myset1)

myset2={x for x in mydictionary.keys() if len(x)>3}
print(myset2)

{400, 250, 100, 300}
{'hairoil', 'soap', 'babysoap', 'perfume'}

#### **Tuple**

In Python, there's no tuple comprehension.
However, you can mimic the tuple comprehensions by running a generator expression inside tuple() function call.

In [7]:
mytuple=(i for i in range(1,10))   # you are trying to do Set Comprehension
print(mytuple)  # it is a generator not a tuple
mytuple1=tuple(i for i in range(1,10))  # we are converting generator to tuple
print(mytuple1)    # it's a tuple now
print(type(mytuple1))

<generator object <genexpr> at 0x000002544EAB96C0>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

### **Dictionary**

- Dictionary in Python is an unordered collection of data values, used to store data values like a map, which, unlike other Data Types that hold only a single value as an element, Dictionary holds key:value pair. Key-value is provided in the dictionary to make it more optimized. 

- In Python, a Dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’. Dictionary holds pairs of values, one being the Key and the other corresponding pair element being its Key:value. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable. 
 
- Note – Dictionary keys are case sensitive, the same name but different cases of Key will be treated distinctly.

#### **E1**

In [1]:
# E1
# first example of Dictionary

mydict = {1:'Amar',2:'Sachin',3:'Vishal'}

print(mydict)

print(mydict[1])
print(mydict[2])
print(mydict[3])
# print(mydict[4])    # KeyError: 4

mydict[2]='Satish' # overwrite the value
print(mydict)
print(mydict.keys())   # print all the keys of dictionary
print(mydict.values())  # print all the values of dictionary

{1: 'Amar', 2: 'Sachin', 3: 'Vishal'}
Amar
Sachin
Vishal
{1: 'Amar', 2: 'Satish', 3: 'Vishal'}
dict_keys([1, 2, 3])
dict_values(['Amar', 'Satish', 'Vishal'])

#### **E2**

In [3]:
# E2
# Nested Dictionary

mydict = {1:'Amar',2:'Sachin',3:{'A':100,'B':200,'C':300},4:'Vishal'}

print(mydict)

{1: 'Amar', 2: 'Sachin', 3: {'A': 100, 'B': 200, 'C': 300}, 4: 'Vishal'}

In [4]:
print(mydict[1])
print(mydict[2])
print(mydict[3])

Amar
Sachin
{'A': 100, 'B': 200, 'C': 300}

In [5]:
# Displaying nested dictionary
print(mydict[3]['A'])
print(mydict[3]['B'])
print(mydict[3]['C'])
print(mydict[4])

100
200
300
Vishal

In [6]:
mydict[2]='Satish' # overwrite the value
print(mydict)

{1: 'Amar', 2: 'Satish', 3: {'A': 100, 'B': 200, 'C': 300}, 4: 'Vishal'}

In [7]:
print(mydict.keys())   # print all the keys of dictionary
print(mydict.values())  # print all the values of dictionary

dict_keys([1, 2, 3, 4])
dict_values(['Amar', 'Satish', {'A': 100, 'B': 200, 'C': 300}, 'Vishal'])

#### **E3**

In [8]:
# E3
mydict = {1:'Amar',2:'Sachin',3:'Vishal'}

print(mydict)

print(mydict[1])
print(mydict[2])
print(mydict[3])

mydict[4]='Arun'   # adding a pair in dictionary
print(mydict)
print(mydict.keys())   # print all the keys of dictionary
print(mydict.values())  # print all the values of dictionary

{1: 'Amar', 2: 'Sachin', 3: 'Vishal'}
Amar
Sachin
Vishal
{1: 'Amar', 2: 'Sachin', 3: 'Vishal', 4: 'Arun'}
dict_keys([1, 2, 3, 4])
dict_values(['Amar', 'Sachin', 'Vishal', 'Arun'])

#### **E3a**

In [9]:
# E3a
mydict={5:"hello",2:"hi",1:"bye"}

mylist=sorted(mydict) # sort the keys

print(mylist)

[1, 2, 5]

#### **E4**

In [11]:
# E4
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return ""+ self.name+"    "+str(self.age)
    def getname(self):
        return self.name
    def getage(self):
        return self.age

s1 = Student('Vishal',23)
s2 = Student('Sachin',32)
s3 = Student('Anand',26)

students = {s1:100,s2:200,s3:50}

for i in students:
    print(i)

Vishal    23
Sachin    32
Anand    26

In [13]:
mylist= sorted(students,key=Student.getname)
print(type(mylist))

<class 'list'>

In [14]:
print("Namewise sort")
for i in mylist:
    print(i)

Namewise sort
Anand    26
Sachin    32
Vishal    23

In [15]:
mylist = sorted(students,key=Student.getage)
print(type(mylist))
print("Agewise sort")
for i in mylist:
    print(i)

<class 'list'>
Agewise sort
Vishal    23
Anand    26
Sachin    32

In [16]:
mylist = sorted(students,key=Student.getname,reverse=True)

print(type(mylist))
print("Namewise descending order")

for i in mylist:
    print(i)

<class 'list'>
Namewise descending order
Vishal    23
Sachin    32
Anand    26

#### **E4a**

In [17]:
# E4a
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return ""+ self.name+"    "+str(self.age)
    def getname(self):
        return self.name
    def getage(self):
        return self.age

s1 = Student('Vishal',23)
s2 = Student('Sachin',32)
s3 = Student('Anand',26)

students = {s1:100,s2:200,s3:50}

for i in students:
    print(i)

Vishal    23
Sachin    32
Anand    26

In [18]:
mylist= sorted(students,key=Student.getname)

print(type(mylist))
print("Namewise sort")
for i in mylist:
    print(i)

<class 'list'>
Namewise sort
Anand    26
Sachin    32
Vishal    23

In [19]:
mylist = sorted(students,key=Student.getage)
print(type(mylist))
print("Agewise sort")
for i in mylist:
    print(i)

<class 'list'>
Agewise sort
Vishal    23
Anand    26
Sachin    32

In [22]:
mylist = sorted(students,key=Student.getname,reverse=True)

print(type(mylist))
print("Namewise descending order")

for i in mylist:
    print(i)

<class 'list'>
Namewise descending order
Vishal    23
Sachin    32
Anand    26

In [21]:
print(students)
for i in students.keys():
    print(i.name)

for i,j in students.items():
    print(i,"\t",j)

{<__main__.Student object at 0x000001D47E35CBF0>: 100, <__main__.Student object at 0x000001D47F611640>: 200, <__main__.Student object at 0x000001D47F612AE0>: 50}
Vishal
Sachin
Anand
Vishal    23 	 100
Sachin    32 	 200
Anand    26 	 50

#### **How to sort Dictionary values**

In [6]:
# How to sort dictionary based on keys and values both 

# sorted_footballers_by_name = sorted(footballers_goals.items(), key=lambda x:x[0])

""" here "footballers_goals.items()" returns 5 tuples each with "key" and "value" of dictionary
lamda x   represents each tuple
x[0] represents  0th element of that tuple i.e "key" of the first entry of your dictionary
x[1] represents  1st element of that tuple i.e "value" of the first entry of your dictionary

That means to the "sorted" method you pass either "key" of the dictionary ( x[0])
or value of the dictionary  ( x[1]) as a sorting strategy. """


footballers_goals = {'Eusebio': 120, 'Cruyff': 104, 'Pele': 150, 'Ronaldo': 132, 'Messi': 125}

temp=footballers_goals.items()
print("Type of temp is\t",type(temp))
print("Size of temp is\t",len(temp))

for i in temp:
    print("Type of i is\t",type(i),"\tValue of i is\t",i)

Type of temp is	 <class 'dict_items'>
Size of temp is	 5
Type of i is	 <class 'tuple'> 	Value of i is	 ('Eusebio', 120)
Type of i is	 <class 'tuple'> 	Value of i is	 ('Cruyff', 104)
Type of i is	 <class 'tuple'> 	Value of i is	 ('Pele', 150)
Type of i is	 <class 'tuple'> 	Value of i is	 ('Ronaldo', 132)
Type of i is	 <class 'tuple'> 	Value of i is	 ('Messi', 125)

##### **Sorted by name**

In [7]:
sorted_footballers_by_name=sorted(footballers_goals)

print(sorted_footballers_by_name)

sorted_footballers_by_name = sorted(footballers_goals.items(), key=lambda x:x[0]) # x[0] means key

print(sorted_footballers_by_name)

['Cruyff', 'Eusebio', 'Messi', 'Pele', 'Ronaldo']
[('Cruyff', 104), ('Eusebio', 120), ('Messi', 125), ('Pele', 150), ('Ronaldo', 132)]

##### **Sorted by goals**

In [26]:

sorted_footballers_by_goals = sorted(footballers_goals.items(), key=lambda x:x[1]) # x[1] means value

print(sorted_footballers_by_goals)

#sorted_footballers_by_goals = sorted(footballers_goals.items(), key=lambda x:x[2]) # IndexError: tuple index out of range

[('Cruyff', 104), ('Eusebio', 120), ('Messi', 125), ('Ronaldo', 132), ('Pele', 150)]

### **List**

- Lists are just like ***dynamically sized arrays***, declared in other languages (vector in C++ and ArrayList in Java). Lists need not be homogeneous always which makes it the most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are ***mutable***, and hence, they can be altered even after their creation.
- List in Python are ***ordered*** and have a definite count. The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index. Each element in the list has its definite place in the list, which ***allows duplicating*** of elements in the list, with each element having its own distinct place and credibility.
- Note- Lists are a useful tool for preserving a sequence of data and further iterating over it.

#### **E1**

In [27]:
mylist = [10,20,30,40]
print(mylist)
print(type(mylist))
print(mylist[0])
print(len(mylist))
mylist.append(50)   # list is dynamic
print(mylist)
mylist[0]=12        # list is mutable
print(mylist)

[10, 20, 30, 40]
<class 'list'>
10
4
[10, 20, 30, 40, 50]
[12, 20, 30, 40, 50]

#### **E1a**

In [5]:
mylist = [10,20,30,40]
print(mylist)
print(type(mylist))
print("address of mylist is\t",id(mylist))
for i in range(0,len(mylist)):
    print("address of element\t",i,"\tis\t",id(mylist[i]))
print(mylist[0])
print(len(mylist))

[10, 20, 30, 40]
<class 'list'>
address of mylist is	 2685088513984
address of element	 0 	is	 140724750469848
address of element	 1 	is	 140724750470168
address of element	 2 	is	 140724750470488
address of element	 3 	is	 140724750470808
10
4

In [6]:
mylist.append(50)   # list is dynamic
print("addresses after appending")
print("address of mylist is\t",id(mylist))
for i in range(0,len(mylist)):
    print("address of element\t",i,"\tis\t",id(mylist[i]))
    print(mylist)

addresses after appending
address of mylist is	 2685088513984
address of element	 0 	is	 140724750469848
[10, 20, 30, 40, 50]
address of element	 1 	is	 140724750470168
[10, 20, 30, 40, 50]
address of element	 2 	is	 140724750470488
[10, 20, 30, 40, 50]
address of element	 3 	is	 140724750470808
[10, 20, 30, 40, 50]
address of element	 4 	is	 140724750471128
[10, 20, 30, 40, 50]

In [31]:
mylist[0]=12        # list is mutable
print("addresses after changing data")
print("address of mylist is\t",id(mylist))
for i in range(0,len(mylist)):
    print("address of element\t",i,"\tis\t",id(mylist[i]))
print(mylist)

addresses after changing data
address of mylist is	 2012181838848
address of element	 0 	is	 140726454536984
address of element	 1 	is	 140726454537240
address of element	 2 	is	 140726454537560
address of element	 3 	is	 140726454537880
address of element	 4 	is	 140726454538200
[12, 20, 30, 40, 50]

#### **E2**

In [33]:
# list of multiple data types

mylist = [10,"hello",'A',3.4,True]
print(mylist)
print(type(mylist))
print(mylist[0])

[10, 'hello', 'A', 3.4, True]
<class 'list'>
10

In [34]:
print(len(mylist))
mylist.append(50)   # list is dynamic
print(mylist)

5
[10, 'hello', 'A', 3.4, True, 50]

In [35]:
mylist[0]=12        # list is mutable
print(mylist)

[12, 'hello', 'A', 3.4, True, 50]

#### **E3**

In [7]:
# nested list

mylist = [[10,"hello",3.4],[100,True,"welcome"]]

print(mylist)

[[10, 'hello', 3.4], [100, True, 'welcome']]

In [37]:
# let's print the size of outer list
print(len(mylist))

2

In [38]:
# let's print the size of first nested list
print(len(mylist[0]))

3

In [39]:

# let's print the size of second nested list
print(len(mylist[1]))

3

In [40]:
# print first nested list
print(mylist[0])
# print second nested list
print(mylist[1])

[10, 'hello', 3.4]
[100, True, 'welcome']

In [8]:
# let's print all the elements of first nested list

for i in mylist[0]:
    print(i)

10
hello
3.4

In [42]:
# let's print all the elements of second nested list

for i in mylist[1]:
    print(i)

print(mylist)

100
True
welcome
[[10, 'hello', 3.4], [100, True, 'welcome']]

In [43]:
mylist.append([90,3,12,3])
mylist.insert(1,["a","b",'c'])
print(mylist)

[[10, 'hello', 3.4], ['a', 'b', 'c'], [100, True, 'welcome'], [90, 3, 12, 3]]

#### **E4**

In [45]:
# append and insert methods of list
mylist = [10,20,30,40]

print(mylist)

[10, 20, 30, 40]

In [46]:
mylist.append(90)
mylist.insert(2,"welcome")          # insert(index, value)

print(mylist)

[10, 20, 'welcome', 30, 40, 90]

In [47]:

myylist = [[10, 20],[20,30]]
print(myylist)

[[10, 20], [20, 30]]

In [48]:

myylist.append(['welcome',10])
myylist.insert(1,'hi')

print(myylist)

[[10, 20], 'hi', [20, 30], ['welcome', 10]]

In [49]:
myylist[0].insert(1,['hi',1,00])
print(myylist)

[[10, ['hi', 1, 0], 20], 'hi', [20, 30], ['welcome', 10]]

#### **E5**

- Use of extend method to add multiple values at the end of the list

In [50]:

mylist = [10,"hello",4.5,False]

print(mylist)
mylist.extend([20,True,"welcome"])
print(mylist)

[10, 'hello', 4.5, False]
[10, 'hello', 4.5, False, 20, True, 'welcome']

#### **E6**

- Remove element from the list

In [51]:
mylist = [10,"hello",4.5,False]

print(mylist)
mylist.remove(4.5)
print(mylist)

[10, 'hello', 4.5, False]
[10, 'hello', False]

#### **E7**

- Negative indexing means beginning from the end, -1 refers to the last item,
- -2 refers to the second-last item, etc.

In [9]:

mylist = [10,"hello",4.5,False,'A']

print(mylist)

var = -1
while var >= -5:
    print(mylist[var])
    var -= 1

[10, 'hello', 4.5, False, 'A']
A
False
4.5
hello
10

#### **E8**

- Pop() function can also be used to remove and return an element from the list, but by default it removes only the last element of the list, to remove an element from a specific position of the List, the index of the element is passed as an argument to the pop() method.

In [53]:

mylist = [10,"hello",4.5,False,'A']

print(mylist)

mylist.pop()  # by default removes the last element
print(mylist)

[10, 'hello', 4.5, False, 'A']
[10, 'hello', 4.5, False]

#### **E9**

In [54]:
mylist = [10,"hello",4.5,False,'A']

print(mylist)

mylist.pop(2)  #  removes element at 2nd position
print(mylist)

[10, 'hello', 4.5, False, 'A']
[10, 'hello', False, 'A']

#### **E10**

In [56]:
# Slicing of list

mylist = [10,20,30,40,50,60,70,80]

print(mylist)

[10, 20, 30, 40, 50, 60, 70, 80]

In [57]:
print(mylist[0:3])   # print from 0 to 2

[10, 20, 30]

In [58]:

print(mylist[5:])    # print the elements from 5th till end

[60, 70, 80]

In [59]:

print(mylist[3:6])   # print the elements from 3rd to 5th position

[40, 50, 60]

In [61]:

print(mylist[:])     # print the whole list

[10, 20, 30, 40, 50, 60, 70, 80]

In [62]:
print(mylist[::-1])  # print the list in reverse order

[80, 70, 60, 50, 40, 30, 20, 10]

In [63]:
print(mylist[:-1])   # Elements sliced till 1st element from last

[10, 20, 30, 40, 50, 60, 70]

In [64]:
print(mylist[:-4])   # Elements sliced till 4th element from last

[10, 20, 30, 40]

In [65]:
print(mylist[-6:-4]) # Elements sliced from 6th to 4th element from the last

[30, 40]

#### **E11**

- List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc.

- A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each # element.

In [66]:
# list contains all even numbers between 4 to 20

mylist = [i for i in range(4,20) if i%2 == 0]

print(mylist)

[4, 6, 8, 10, 12, 14, 16, 18]

#### **E12**

In [67]:
# sort the list in ascending and descending order

mylist = [23,12,6,8,11,9,13]
print(mylist)
mylist.sort()
print(mylist)
mylist.sort(reverse=True)
print(mylist)

[23, 12, 6, 8, 11, 9, 13]
[6, 8, 9, 11, 12, 13, 23]
[23, 13, 12, 11, 9, 8, 6]

#### **E13**

In [68]:
# sort the list in ascending and descending order

class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return  self.name +"\t"+str(self.age)

s1 = Student("Sachin",23)
s2 = Student("Rahul",32)
s3 = Student("Anand",34)

mylist = [s1,s2,s3]
print(mylist)

for i in mylist:
    print(i)

[<__main__.Student object at 0x000001D47F5FB800>, <__main__.Student object at 0x000001D47F5F8A70>, <__main__.Student object at 0x000001D47F5F9370>]
Sachin	23
Rahul	32
Anand	34

In [69]:
# mylist.sort() # TypeError: '<' not supported between instances of 'Student' and 'Student'
        # we must provide some strategy based on which sort() method  will sort the object

for i in mylist:
    print(i)

Sachin	23
Rahul	32
Anand	34

#### **E14**

In [72]:
# sort the list in ascending order

class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return  self.name +"\t"+str(self.age)
    def getname(self):
        return self.name
    def getage(self):
        return self.age
    
s1 = Student("Sachin",23)
s2 = Student("Rahul",32)
s3 = Student("Anand",34)

mylist = [s1,s2,s3]
print(mylist)

for i in mylist:
    print(i)

[<__main__.Student object at 0x000001D47F6134D0>, <__main__.Student object at 0x000001D47F610A40>, <__main__.Student object at 0x000001D47F798B60>]
Sachin	23
Rahul	32
Anand	34

In [73]:
mylist.sort(key=Student.getname)     # strategy of name based on which sort() method  will sort the object
print("After sorting")
for i in mylist:
    print(i)

After sorting
Anand	34
Rahul	32
Sachin	23

#### **E15**

In [74]:
# sort the list in ascending order

class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return  self.name +"\t"+str(self.age)
    def getname(self):
        return self.name
    def getage(self):
        return self.age

s1 = Student("Sachin",23)
s2 = Student("Rahul",32)
s3 = Student("Anand",34)

mylist = [s1,s2,s3]
print(mylist)

for i in mylist:
    print(i)

[<__main__.Student object at 0x000001D47F612630>, <__main__.Student object at 0x000001D47F6136E0>, <__main__.Student object at 0x000001D47F5F9370>]
Sachin	23
Rahul	32
Anand	34

In [75]:
mylist.sort(key=Student.getage)     # strategy of age based on which sort() method  will sort the object
print("After sorting")
for i in mylist:
    print(i)

After sorting
Sachin	23
Rahul	32
Anand	34

#### **E16**

In [76]:
# sort the list in descending order

class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return  self.name +"\t"+str(self.age)
    def getname(self):
        return self.name
    def getage(self):
        return self.age

s1 = Student("Sachin",23)
s2 = Student("Rahul",32)
s3 = Student("Anand",34)

mylist = [s1,s2,s3]
print(mylist)

for i in mylist:
    print(i)

[<__main__.Student object at 0x000001D47F79AAE0>, <__main__.Student object at 0x000001D47F79B1A0>, <__main__.Student object at 0x000001D47F79B920>]
Sachin	23
Rahul	32
Anand	34

In [77]:
mylist.sort(key=Student.getage,reverse=True)     # strategy of age based on which sort() method  will sort the object in a reverse order
print("After sorting")
for i in mylist:
    print(i)

After sorting
Anand	34
Rahul	32
Sachin	23

#### **E17**

In [1]:
# searching from a list with the help of "in" and "index()" function

mylist = ["abc","xyz","pqr","lmn"]

print(mylist)
print(type(mylist))

['abc', 'xyz', 'pqr', 'lmn']
<class 'list'>

In [2]:
myval = input("enter value to search in the list: ")
if myval in mylist:
    print(myval, "is there in the list")
    print(myval," is there in the list at ",mylist.index(myval)," position")
else:
    print(myval," is not there in the list")

abc is there in the list
abc  is there in the list at  0  position

#### **How to extend the list without append**

In [11]:
# how to extend the list without append
x = [10, 20, 30]
y = [40, 50, 60]
x+=y
print(x)

x[:0]=y    #from begining to 0th index
print(x)

x[2:]=y     #from 3rd to last
print(x)

[10, 20, 30, 40, 50, 60]
[40, 50, 60, 10, 20, 30, 40, 50, 60]
[40, 50, 40, 50, 60]

#### **How to iterate over 2 lists simultaneously**

In [25]:
num = [1, 2, 3]
color = ['red', 'white', 'black']
for (a,b) in zip(num, color):
     print(a, b)

1 red
2 white
3 black

#### **Sort the list without using collection.sort and any type of sorting algorithm**

In [26]:
data_list = [-5, -23, 5, 0, 23, -6, 23, 67]
new_list = []

while data_list:
    minimum = data_list[0]  # arbitrary number in list 
    for x in data_list: 
        if x < minimum:
            minimum = x
    new_list.append(minimum)
    data_list.remove(minimum)    

print (new_list)

[-23, -6, -5, 0, 5, 23, 23, 67]

In [12]:

# let's print the size of second nested list
print(len(mylist[1]))

3

#### **Using list as queue**

In [85]:

queue = []
  

queue.append('a')
queue.append('b')
queue.append('c')
  
print("Initial queue")
print(queue)

Initial queue
['a', 'b', 'c']

In [86]:
print("\nElements dequeued from queue")
print(queue.pop(0))
print(queue.pop(0))
print(queue.pop(0))

Elements dequeued from queue
a
b
c

In [87]:

print("\nQueue after removing elements")
print(queue)

Queue after removing elements
[]

#### **Using list as stack**

In [88]:
stack = []
 

stack.append('a')
stack.append('b')
stack.append('c')
 
print('Initial stack')
print(stack)

Initial stack
['a', 'b', 'c']

In [89]:
# LIFO order
print('\nElements popped from stack:')
print(stack.pop())
print(stack.pop())
print(stack.pop())

Elements popped from stack:
c
b
a

In [90]:
print('\nStack after elements are popped:')
print(stack)

Stack after elements are popped:
[]

#### **Accept Multiple values**

##### **How to accept multiple values_1**

In [29]:
a,b,c,d,e = [int(x) for x in input("Enter five values: ").split()]
print(a+10)
print(b+10)
print(c+10)
print(d+10)
print(e+10)

55
75
96
79
75

##### **How to accept multiple values**

In [31]:
a,b,c,d,e = input("Enter five values: ").split()
print(a)
print(b)
print(c)
print(d)
print(e)

h
k
kl
o
ae

##### **How to accept n number of data**

In [32]:
mylist = [int(num) for num in input("Enter multiple values: ").split()]
print("Number of list is: ", mylist)

Number of list is:  [7, 8, 6, 5]

In [96]:
a,b,c,d,e = [10,20,30,40,50]
print(a+10)
print(b+10)
print(c+10)
print(d+10)
print(e+10)

20
30
40
50
60

#### **Slicing in list**

##### **E1**

In [34]:
# print(mylist[1::3]) will print every third element starting
# from the second element of mylist.

mylist=[10,20,30,40,50]
print(mylist)
print(mylist[:])
print(mylist[::])
print(mylist[1::2])  # print every second element from position 1
print(mylist[::2])   # print every second element from the beginning
print(mylist[2::2])   # print every second element from position 2
print(mylist[1:4])    # from position 1 to 3, 4 is exclusive
print(mylist[2:])     # from position 2 till end
print(mylist[:2])     # from position 0 till 1 , 2 is exclusive
print(mylist[-4:-1])  # from position -4 till -2  -1 is exclusive
print(mylist[::-1])   # print every element from the last
print(mylist[::-2])   # print every second element from the last
print(mylist[:1:-2])  # print every second element from the last till index 2
print(mylist[:1:-1])  # print every element from the last till index 2
print(mylist[:2:-1])  # print every element from the last till index 3
print(mylist[:2:-2])  # print every second element from the last till index 3
print(mylist[:2:2])   # print from 0 to 1 with the step 2

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[20, 40]
[10, 30, 50]
[30, 50]
[20, 30, 40]
[30, 40, 50]
[10, 20]
[20, 30, 40]
[50, 40, 30, 20, 10]
[50, 30, 10]
[50, 30]
[50, 40, 30]
[50, 40]
[50]
[10]

##### **First**

In [98]:

for num in range(3,31):
    for i in range(2,num):
        if (num% i)==0:
            break
    else:
        print(num)

3
5
7
11
13
17
19
23
29

### **Set**

- In Python, Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.
- The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.
- Creating a Set
Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence inside curly braces, separated by ‘comma’.
Note – A set cannot have mutable elements like a list or dictionary, as it is immutable.

#### **Example of set , order is not fixed and duplicates are not allowed**

In [115]:
myset= {10,20,30,40,20}
print(myset)
print(type(myset))

{40, 10, 20, 30}
<class 'set'>

#### **E1**

In [99]:
# first example of set

myset = {10,20,30,40,30}     # duplicates are not allowed
print(myset)
print(type(myset))

# iterating set
for i in myset:
    print(i)

{40, 10, 20, 30}
<class 'set'>
40
10
20
30

#### **E2**

- set() function to convert a list with duplicate values into set

In [100]:
mylist = [1,2,3,4,5,6,5,5,1,8,9,10]

print(mylist)
print(type(mylist))

[1, 2, 3, 4, 5, 6, 5, 5, 1, 8, 9, 10]
<class 'list'>
{1, 2, 3, 4, 5, 6, 8, 9, 10}
<class 'set'>

In [101]:
# convert list into set

myset = set(mylist)
print(myset)
print(type(myset))

{1, 2, 3, 4, 5, 6, 8, 9, 10}
<class 'set'>

#### **E3**

In [102]:
mylist = [1,2,3,4,5,6,5,5,1,8,9,10]

print(mylist)
print(type(mylist))

[1, 2, 3, 4, 5, 6, 5, 5, 1, 8, 9, 10]
<class 'list'>

In [103]:
# convert list into set

myset = set(mylist)
print(myset)
print(type(myset))

{1, 2, 3, 4, 5, 6, 8, 9, 10}
<class 'set'>

In [104]:
# add method to add values in the set
myset.add(12)
myset.add(15)
print(myset)

{1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 15}

#### **E4**

- "update()" function to add two or more elements into set

In [106]:
myset = {1,2,3,4,5}

print(myset)
print(type(myset))

{1, 2, 3, 4, 5}
<class 'set'>

In [107]:
# adding a tuple
myset.update((10,20,30))

print(myset)

{1, 2, 3, 4, 5, 20, 10, 30}

In [108]:

# adding list and tuple
myset.update(['A','B','C'],("hello","welcome"))
print(myset)

{1, 2, 3, 4, 5, 'B', 'welcome', 10, 'A', 20, 'C', 30, 'hello'}

#### **E5**

- Using remove() method or discard() method Elements can be removed from the Set by using built-in remove() function but a KeyError arises if element doesn’t exist in the set.
- To remove elements from a set without KeyError, use discard(),
if the element doesn’t exist in the set, it remains unchanged.

In [12]:
myset = {1,2,3,4,5,6,7}

print(myset)

{1, 2, 3, 4, 5, 6, 7}

In [13]:
myset.remove(4)
print(myset)
myset.pop()
print(myset)

{1, 2, 3, 5, 6, 7}
{2, 3, 5, 6, 7}

In [14]:
# myset.remove(10)    # error  KeyError: 10
print(myset)

{2, 3, 5, 6, 7}

In [112]:
myset.discard(2)
print(myset)

{4, 5, 6, 7}

#### **How set is internally implemented**

- as a dictionary so that means whatever elements you provide will be taken as a key and value will be provided implicitly.

e.g

- myset={1,2,3,4,5} 

here all these are keys. that's the reason when you try to say myset.remove(6), it gives you an error "KeyError"

### **Tuple**

- A tuple is a sequence of ***immutable*** Python objects. Tuples are *sequences*, just like lists. The main difference between the tuples and the lists is that the tuples ***cannot be changed*** unlike lists. Tuples use ***parentheses***, whereas lists use square brackets.
- Creating a tuple is as simple as putting different comma-separated values. Optionally, you can put these comma-separated values between parentheses also. For example −

    tup1 = ('physics', 'chemistry', 1997, 2000)
    tup2 = (1, 2, 3, 4, 5 )
    tup3 = "a", "b", "c", "d"

    The empty tuple is written as two parentheses containing nothing −
    tup1 = ();

    To write a tuple containing a single value you have to include a comma, even though there is only one value −
    tup1 = (50,)

    Like string indices, tuple indices start at 0, and they can be sliced, concatenated, and so on.

#### **E1**

In [1]:
# Tuple

mytuple = (10,"hello",4.6,True,'N')

print(mytuple)

print(len(mytuple))

(10, 'hello', 4.6, True, 'N')
5

In [119]:
print(mytuple[0])  # accessing a particular element of a tuple

# mytuple[1]="welcome"   # Error : cannot change tuple

# how to concat tuple
mytuple1=mytuple+ (500,"welcome",False)
print(mytuple1)

10
(10, 'hello', 4.6, True, 'N', 500, 'welcome', False)

#### **E2**

In [2]:
# creating a tuple with built-in function

mytuple1 = tuple(i for i in range(1, 11))

print("first tuple is")
print(mytuple1)

first tuple is
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [121]:
print("displaying one by one element of a tuple")

for i in mytuple1:
    print(i)

displaying one by one element of a tuple
1
2
3
4
5
6
7
8
9
10

In [1]:
# creating a tuple with the help of list

mylist = ["hello",5.6,True,100,'A']
print("list is ")
print(mylist)
myset=set(mylist)
mydict=dict(mylist)
mytuple2 = tuple(mylist)

print("tuple created with the help of list is")
print(mytuple2)
print(myset)
print(mydict)

list is
['hello', 5.6, True, 100, 'A']

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [123]:
# creating list with the help of tuple

mylist1 = [mytuple1]

print("list created with the help of tuple is")
print(mylist1)

list created with the help of tuple is
[(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)]

#### **E3**

- Concatenation of Tuples concatenation is only possible with tuples. It can't be concatenated to other kinds, such lists.

In [124]:


mytuple1 = (10,20,30,40)

mytuple2 = ("hello","welcome","Bye")

mytuple3 = mytuple1 + mytuple2

print("Combined tuple is")
print(mytuple3)

Combined tuple is
(10, 20, 30, 40, 'hello', 'welcome', 'Bye')

In [125]:
# concatenation of lists

mylist1 = [100,200,300]
mylist2= [True,False,"Hi"]
mylist3 = mylist1 + mylist2
print("combined list is ")
print(mylist3)

combined list is
[100, 200, 300, True, False, 'Hi']

#### **E4**

In [ ]:
# creating a tuple with tuple function and a string

mytuple1 = tuple("Internationalization")

for i in mytuple1:
    print(i)

#### **E5**

In [128]:
# slicing tuple

mytuple1 = tuple("Internationalization")

for i in mytuple1:
    print(i)

I
n
t
e
r
n
a
t
i
o
n
a
l
i
z
a
t
i
o
n

In [129]:

print("slice first 2 elements")
print(mytuple1[2:])

slice first 2 elements
('t', 'e', 'r', 'n', 'a', 't', 'i', 'o', 'n', 'a', 'l', 'i', 'z', 'a', 't', 'i', 'o', 'n')

In [130]:
print("Reverse the tuple")
print(mytuple1[::-1])

Reverse the tuple
('n', 'o', 'i', 't', 'a', 'z', 'i', 'l', 'a', 'n', 'o', 'i', 't', 'a', 'n', 'r', 'e', 't', 'n', 'I')

In [132]:
print("tuple elements within a particular range")
print(mytuple1[4:8])

tuple elements within a particular range
('r', 'n', 'a', 't')

In [133]:
print("slice last 5 characters")
print(mytuple1[:-5])

slice last 5 characters
('I', 'n', 't', 'e', 'r', 'n', 'a', 't', 'i', 'o', 'n', 'a', 'l', 'i', 'z')

#### **E6**

In [134]:
# slicing tuple

mytuple1 = tuple("Internationalization")

for i in mytuple1:
    print(i)

I
n
t
e
r
n
a
t
i
o
n
a
l
i
z
a
t
i
o
n

In [135]:
print("slice first 2 elements")
print(mytuple1[2:])

slice first 2 elements
('t', 'e', 'r', 'n', 'a', 't', 'i', 'o', 'n', 'a', 'l', 'i', 'z', 'a', 't', 'i', 'o', 'n')

In [136]:
print("Reverse the tuple")
print(mytuple1[::-1])

Reverse the tuple
('n', 'o', 'i', 't', 'a', 'z', 'i', 'l', 'a', 'n', 'o', 'i', 't', 'a', 'n', 'r', 'e', 't', 'n', 'I')

In [137]:
print("tuple elements within a particular range")
print(mytuple1[4:8])

tuple elements within a particular range
('r', 'n', 'a', 't')

In [138]:
print("slice last 5 characters")
print(mytuple1[:-5])

slice last 5 characters
('I', 'n', 't', 'e', 'r', 'n', 'a', 't', 'i', 'o', 'n', 'a', 'l', 'i', 'z')

In [139]:
print("index of a given value")
print(mytuple1.index('n'))

index of a given value
1

In [140]:
print("how many times that character is occurred in a given tuple")
print(mytuple1.count('n'))

how many times that character is occurred in a given tuple
4

In [141]:
print("Maximum value of a tuple is")
print(max(mytuple1))

Maximum value of a tuple is
z

In [142]:
print("Minimum value of a tuple is")
print(min(mytuple1))

Minimum value of a tuple is
I

In [143]:

print("Sort the elements of tuple")
print(sorted(mytuple1))

Sort the elements of tuple
['I', 'a', 'a', 'a', 'e', 'i', 'i', 'i', 'l', 'n', 'n', 'n', 'n', 'o', 'o', 'r', 't', 't', 't', 'z']

### **String**

#### **E1**

In [144]:
# first example of string
# mystring = "hello"
# mystring = 'hello'
mystring = '''hello'''
print(mystring)
print(type(mystring))
print(len(mystring))
# mystring[0]='G'  # Not possible, strings are immutable

hello
<class 'str'>
5

#### **E2**

In [145]:
# how to accept a string from user
mystring = input("Enter your name")
print(mystring)
print(type(mystring))
print(len(mystring))
# mystring[0]='G'  # Not possible, strings are immutable

fdas
<class 'str'>
4

#### **E3**

In [146]:
# accessing string by characters

mystring = "Computer"
print(mystring)
print(mystring[0])  # first character of a string
print(mystring[-1]) # last character of a string
print(mystring[-2]) # second last character of a string

Computer
C
r
e

#### **E4**

In [148]:
# slicing a string

mystring = "Computers"
print(mystring)
print(mystring[2:6])  # slice from 2nd position to 6th position
print(mystring[4:-2]) # slice from 4th position to second last position

Computers
mput
ute

#### **E5**

In [147]:
# split a string based on space as a delimeter and convert it into list

mystring = "Learning Python is very simple"

print(mystring)

myvar = mystring.split(' ')

print(myvar)
print(type(myvar))

Learning Python is very simple
['Learning', 'Python', 'is', 'very', 'simple']
<class 'list'>

#### **E6**

In [149]:
# reverse a string

mystring = input("Enter a string")

print("Before reversing")
print(mystring)

mystring = mystring[::-1]
print(mystring)

Before reversing
fdasg
gsadf

#### **E7**

In [150]:
# Built-in string functions

# The Python isalpha() method returns true if a string only contains alphabets. 
# Python isdigit() returns true if all characters in a string are numbers. 
# Python isalnum() only returns true if a string contains only alphabets or only numbers or combination of alphabets and numbers.

def fun():
	first="hello"
	print(first.isalnum())
	print(first.isalpha())
	print(first.isdigit())
	print(first.isascii())

	second="hello8"
	print(second.isalnum())
	print(second.isalpha())
	print(second.isdigit())

	third="200"
	print(third.isalpha())
	print(third.isalnum())
	print(third.isdigit())
fun()

True
True
False
True
True
False
False
False
True
True

#### **E8**

In [151]:
# Built-in String Methods

def fun():
	first="hello world"
	print(first)
	print(first.capitalize())  # Capitalizes first letter of string
	print(first)
fun()

hello world
Hello world
hello world

#### **E9**

In [153]:
# how to ignore cases in Python

mystring1 = "hello"
mystring2 ="Hello"

if(mystring1==mystring2):
    print("casewise they are equal")
else:
    print("casewise they are not equal")

if(mystring1.casefold()==mystring2.casefold()):
    print("after ignoring cases they are equal")
else:
    print("even after ignoring cases they are not equal")

casewise they are not equal
after ignoring cases they are equal

#### **String Slicing**

##### **E1**

In [154]:
# There are two ways to slice the string

mystring = 'Vidyanidhi'
          # 12345678910
        #  10987654321
 
# Using slice constructor  , slice is an in-built class

s1 = slice(3)
s2 = slice(1, 5, 2)
s3 = slice(-1, -8, -2)
# s4=slice(1,6,-2)    # cannot give negative value here
# s4=slice(-2,-7,2)   # cannot give positive value here
s4=slice(-8,6)
# s5=slice(7,-8)   # requires negative value for step
s5=slice(7,-8,-1)
s6=slice(3,-3)
s7=slice(6,-7,-2)
s8=slice(6,-7,-1)
s9=slice(7,2,-2)
s10=slice(-7)    #  0 to -8


print(mystring[s1])
print(mystring[s2])
print(mystring[s3])
print(mystring[s4])
print(mystring[s5]) 
print(mystring[s6])
print(mystring[s7])
print(mystring[s8])
print(mystring[s9])
print(mystring[s10])

print("String slicing without slice class")

print(mystring[:3])  # or mystring[0:3]
print(mystring[1:5:2])
print(mystring[-1:-8:-2])
print(mystring[-8:6])
print(mystring[7:-8:-1])
print(mystring[3:-3])
print(mystring[6:-7:-2])
print(mystring[6:-7:-1])
print(mystring[7:2:-2])
print(mystring[:-7])   #  0 to -8
print(mystring[:])   # copy of the string
print(mystring[4:])
print(mystring[:-1])
print(mystring[::-1])

Vid
iy
idny
dyan
dinay
yani
ia
ina
dny
Vid
String slicing without slice class
Vid
iy
idny
dyan
dinay
yani
ia
ina
dny
Vid
Vidyanidhi
anidhi
Vidyanidh
ihdinaydiV

##### **E2**

In [155]:
mystring1 = "vidyanidhi"
# items start through 6-1
print(mystring1[2:6])

# items start from 3 through the rest of the array
print(mystring1[3:])

# items from the beginning through 6-1
print(mystring1[:6])

# start from 2 till 7-1 not past stop, by step 2
print(mystring1[2:7:2])

# from last (-1)  to (-5) by step 2 
print(mystring1[-1:-6:-2])

print(mystring1[2:-5])

dyan
yanidhi
vidyan
dai
idn
dya

##### **E3**

In [156]:
mystring="vidyanidhi"
print(mystring[3::5])  # yh     3rd and from 3rd  5th character
print(mystring[2::6])  # dh     2nd and from 2nd  6th character

print(mystring[-7::-2]) # yi    -7th and from -7th  -2nd character

print(mystring[-3::-5])  # dd   -3rd and  from -3rd  -5th character

yh
dh
yi
dd

### **Array_String_List_Tuple_Set_Dictionary_Info**

In [157]:
import array as ar

a = ar.array('i',[1,2,3])   #  array    similar datatypes only, 
print(a,"\t",id(a))
a.append(30)   # arrays are mutable
print(a,"\t",id(a))
a[1]=22    # arrays are mutable
print(a,"\t",id(a))

mystring = "hello"      #  string  
print(mystring)
# mystring[0]='G'    #  Error     string is immutable
print(mystring.swapcase())  # string is immutable
print(mystring)

mylist=[10,20,30,40,30]    #  list   can have duplicates
print(mylist)
mylist[1]=100   # list is mutable
print(mylist)
mylist.append(400) # list is mutable
print(mylist)


mytuple=(100,200,300,400,300)   # tuple    can have duplicates
print(mytuple)
#mytuple[1]=700  # Error:  tuple is immutable
print(mytuple,"\t",id(mytuple))
mytuple1=mytuple.__add__((70,80,90))  # it'll be a different object altogether
print(mytuple)
print(mytuple,"\t",id(mytuple))  # will not change
print(mytuple1)

myset={10,20,30,40,20}     # set     can't have duplicates
print(myset)
print(id(myset))
#myset[1]=56   # Error:  set is immutable for its elements
myset.add(45)  # set as an object is mutable
print(myset)
print(id(myset))

mydictionary={'abc':100,'xyz':300,'pqr':600,'xyz':330}  # dictionary   can't have duplicate keys
print(mydictionary)
mydictionary['pqr']=670    # key 'pqr' value gets chanaged here
print(mydictionary)
mydictionary.update({'aaa':333})  # dictionary is mutable
print(mydictionary)

array('i', [1, 2, 3]) 	 2012188681424
array('i', [1, 2, 3, 30]) 	 2012188681424
array('i', [1, 22, 3, 30]) 	 2012188681424
hello
HELLO
hello
[10, 20, 30, 40, 30]
[10, 100, 30, 40, 30]
[10, 100, 30, 40, 30, 400]
(100, 200, 300, 400, 300)
(100, 200, 300, 400, 300) 	 2012188917520
(100, 200, 300, 400, 300)
(100, 200, 300, 400, 300) 	 2012188917520
(100, 200, 300, 400, 300, 70, 80, 90)
{40, 10, 20, 30}
2012188213760
{40, 10, 45, 20, 30}
2012188213760
{'abc': 100, 'xyz': 330, 'pqr': 600}
{'abc': 100, 'xyz': 330, 'pqr': 670}
{'abc': 100, 'xyz': 330, 'pqr': 670, 'aaa': 333}

### **Array_String_List_Tuple_Set_Dictionary_Info**

In [158]:
import array as ar

a = ar.array('i',[1,2,3])   #  array    similar datatypes only, 
print(a,"\t",id(a))
a.append(30)   # arrays are mutable
print(a,"\t",id(a))
a[1]=22    # arrays are mutable
print(a,"\t",id(a))

mystring = "hello"      #  string  
print(mystring)
# mystring[0]='G'    #  Error     string is immutable
print(mystring.swapcase())  # string is immutable
print(mystring)

mylist=[10,20,30,40,30]    #  list   can have duplicates
print(mylist)
mylist[1]=100   # list is mutable
print(mylist)
mylist.append(400) # list is mutable
print(mylist)


mytuple=(100,200,300,400,300)   # tuple    can have duplicates
print(mytuple)
#mytuple[1]=700  # Error:  tuple is immutable
print(mytuple,"\t",id(mytuple))
mytuple1=mytuple.__add__((70,80,90))  # it'll be a different object altogether
print(mytuple)
print(mytuple,"\t",id(mytuple))  # will not change
print(mytuple1)

myset={10,20,30,40,20}     # set     can't have duplicates
print(myset)
print(id(myset))
#myset[1]=56   # Error:  set is immutable for its elements
myset.add(45)  # set as an object is mutable
print(myset)
print(id(myset))

mydictionary={'abc':100,'xyz':300,'pqr':600,'xyz':330}  # dictionary   can't have duplicate keys
print(mydictionary)
mydictionary['pqr']=670    # key 'pqr' value gets chanaged here
print(mydictionary)
mydictionary.update({'aaa':333})  # dictionary is mutable
print(mydictionary)

array('i', [1, 2, 3]) 	 2012188710752
array('i', [1, 2, 3, 30]) 	 2012188710752
array('i', [1, 22, 3, 30]) 	 2012188710752
hello
HELLO
hello
[10, 20, 30, 40, 30]
[10, 100, 30, 40, 30]
[10, 100, 30, 40, 30, 400]
(100, 200, 300, 400, 300)
(100, 200, 300, 400, 300) 	 2012188437264
(100, 200, 300, 400, 300)
(100, 200, 300, 400, 300) 	 2012188437264
(100, 200, 300, 400, 300, 70, 80, 90)
{40, 10, 20, 30}
2012188214880
{40, 10, 45, 20, 30}
2012188214880
{'abc': 100, 'xyz': 330, 'pqr': 600}
{'abc': 100, 'xyz': 330, 'pqr': 670}
{'abc': 100, 'xyz': 330, 'pqr': 670, 'aaa': 333}

### **Counter Demo**

In [159]:
""" Write a Python program to create a dictionary from a string. 
Note: Track the count of the letters from the string.
Sample string : 'w3resource'
Expected output: {'3': 1, 's': 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}
 """
from collections import Counter

mystring='w3resourcecc'

mydictionary=Counter(mystring)
print(mydictionary)

# Counter iterates over "w3resourcecc" and produces a dictionary with the letters as keys and their frequency as values.

Counter({'c': 3, 'r': 2, 'e': 2, 'w': 1, '3': 1, 's': 1, 'o': 1, 'u': 1})

### **Range**

In [160]:
# Example of range and how can you convert range to list

r = range(0, 10)
print(r)
print(type(r))

# convert range to list
mylist = list(r)
print(mylist)
print(type(mylist))

# range of even numbers

r1= range(2,20,2)
print(r1)
print(type(r1))

mylist1= list(r1)
print(mylist1)
print(type(mylist1))

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
range(2, 20, 2)
<class 'range'>
[2, 4, 6, 8, 10, 12, 14, 16, 18]
<class 'list'>